h1 {
  text-align: center;
  color: midnightblue;
}

marquee {
  background-color: cornflowerblue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  color: lightcyan;
  text-shadow: 1px 1px;
}

#me1 {
  border-left: 6px solid midnightblue;
  background-color: lightgrey;
  font-size: 25px;
  color: midnightblue;
  width: 800px;
}

#me {
  text-align: center;
  border-radius: 15px 50px;
  border: 2px solid midnightblue;
  padding: 10px;
  width: 800px;
  height: 145px;
  color: midnightblue;
  background-color: powderblue;
  font-size: 15px;
}

#coding1 {
  border-left: 6px solid midnightblue;
  background-color: lightgrey;
  font-size: 25px;
  color: midnightblue;
  width: 800px;
}

#coding {
  text-align: center;
  border-radius: 50px 15px;
  border: 2px solid midnightblue;
  padding: 10px;
  width: 800px;
  height: 125px;
  color: midnightblue;
  background-color: powderblue;
  font-size: 15px;
}

#aiml1 {
  border-left: 6px solid midnightblue;
  background-color: lightgrey;
  color: midnightblue;
  font-size: 25px;
}

#sports1 {
  border-left: 6px solid powderblue;
  background-color: darkblue;
  color: powderblue;
  font-size: 25px;
  width: 600px;
  text-align: center;
}

#sportsperson1 {
  border-left: 6px solid powderblue;
  background-color: darkblue;
  color: powderblue;
  font-size: 25px;
  text-align: center;
}

#song1 {
  border-left: 6px solid midnightblue;
  background-color: lightgrey;
  color: midnightblue;
  font-size: 25px;
  height: 35px;
  padding-left: 10px;
  text-align: center;
}

#internships1 {
  border-left: 6px solid powderblue;
  background-color: darkblue;
  color: powderblue;
  font-size: 30px;
  text-align: center;
}

#aiml {
  text-align: center;
  background-color: powderblue;
  width: 500px;
  border: 5px solid midnightblue;
  padding: 15px;
  margin: 10px;
  color: midnightblue;
  font-size: 17px;
  border-radius: 30px 5px 5px 30px;
  text-align: center;
}

#sports {
  color: midnightblue;
  font-size: 15px;
}

#sportsperson {
  color: midnightblue;
  font-size: 15px;
}

#song {
  text-align: center;
  background-color: powderblue;
  width: 500px;
  border: 5px solid midnightblue;
  padding: 15px;
  margin: 10px;
  color: midnightblue;
  font-size: 17px;
  border-radius: 5px 30px 30px 5px;
  height: 420px;
}

#internships {
  color: midnightblue;
  font-size: 20px;
  text-align: center;
}